<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>

    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebserviceCallEntranceImplServiceSoapBinding" />
        <binding name="STYDJYSoap11Binding" />
        <binding name="STYDJYSoap11Binding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="STYDJYSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="STYDJYSoap12Binding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://120.76.223.229:1080/sayifpf/webService/FdaWsOutsideEntrance"
        binding="basicHttpBinding" bindingConfiguration="WebserviceCallEntranceImplServiceSoapBinding"
        contract="ServiceReference1.WebserviceCallEntrance" name="WebserviceCallEntranceImplPort" />
      <endpoint address="http://130.33.10.241:9080/web/services/STYDJY.STYDJYHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="STYDJYSoap11Binding"
        contract="ServiceReference2.STYDJYPortType" name="STYDJYHttpSoap11Endpoint" />
      <endpoint address="http://130.33.10.241:9080/web/services/STYDJY.STYDJYHttpSoap12Endpoint/"
        binding="customBinding" bindingConfiguration="STYDJYSoap12Binding"
        contract="ServiceReference2.STYDJYPortType" name="STYDJYHttpSoap12Endpoint" />
      <endpoint address="http://130.33.10.160:6666/web/services/STYDJY.STYDJYHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="STYDJYSoap11Binding1"
        contract="ServiceReference2.STYDJYPortType" name="STYDJYHttpSoap11Endpoint1" />
      <endpoint address="http://130.33.10.160:6666/web/services/STYDJY.STYDJYHttpSoap12Endpoint/"
        binding="customBinding" bindingConfiguration="STYDJYSoap12Binding1"
        contract="ServiceReference2.STYDJYPortType" name="STYDJYHttpSoap12Endpoint1" />
    </client>
  </system.serviceModel>

  <applicationSettings>
    <WindowsFormsApp1.Properties.Settings>
      <setting name="WindowsFormsApp1_WebReference_STYDJY" serializeAs="String">
        <value>http://130.33.10.160:8002/web/services/STYDJY.STYDJYHttpSoap11Endpoint/</value>
      </setting>
    </WindowsFormsApp1.Properties.Settings>
  </applicationSettings>
</configuration>
